<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Articles</strong></h3>
            </div>
            {{#each articles}}
            <h2 data-id={{_id}}>{{title}}</h2>
            <p>{{link}}</p>            
            {{/each}}
        </div>
    </div>
    <div id="notes"></div>
</div>